<!DOCTYPE html>
<html lang="en">
    <%- include("partials/header", { title: "" }) %>
<body>
  <div class="landscape-warning">
      Sorry Clue Online does not support landscape mode. <br /> Please rotate your device to portrait.
  </div>
  <div class="wrapper">
    <%- include("partials/logo") %>   
    <div class="button-wrapper">
        <button class="interactable-button" id="loginbtn">Login</button>
        <button class="interactable-button" id="registerbtn">Register</button>
    </div>
  </div>
      <%- include("partials/footer", { pagename: "index" }) %>
</body>
</html>