<div class="actionContainer">
    <div class="actionarea">
        <div class="actionmessage about-message">
            <p>This game was made as a passion project for my friends and family. <br></p>
            <p>We always play the 1963 version so I made this game with that design in mind. <br></p>
            <p>While this is a passion project any support helps keep the game running. 
            You can check out my <a href="https://ko-fi.com/1963clue" target="_blank">Ko-fi</a> for support.</p>
        </div>
        <div class="aboutWrapper button-wrapper">
            <div class="about-button interactable-button actionbtn ui-action" data-action="toggle" data-modal="aboutModal">
                <div class="about-button-text">Close</div>
            </div>    
        </div>
    </div>
</div>