<div class="messagesWrapper">
    <div class="chatbuttonWrapper">
        <button type="button" class="setupbutton selected messagebtn" id="lobbychatbtn" data-feed="lobbymessage">Lobby Chat</button>
        <button type="button" class="setupbutton messagebtn" id="gamelogbtn" data-feed="gamelog">Game Log</button>    
    </div>
    <div class="chatfeedWrapper">
        <div class="lobbychatfeed chatfeed" id="lobbychatfeed">
            <div class="messages">  
            </div>     
            <div class="sendarea">
                <input type="text" class="chatsendbox" id="chatsendbox" placeholder="Enter a Message...">
                <button class="send-button" type="submit" id="sendbutton"></button>
            </div>            
        </div>
        <div class="gamelogfeed chatfeed hidden" id="gamelogfeed">
            <div class="messages">  
            </div>  
        </div>
    </div>
</div>
