<div class="actionContainer">
    <div class="actionarea">
        <div class="actionmessage about-message">
            Clue is a mystery game for up to 6 players. <br> 
            Use your detective sheet and sleuthing skills to uncover the truth behind a murder. <br>
        </div>
        <div class="aboutWrapper button-wrapper">
            <div class="about-button interactable-button actionbtn ui-action" data-action="toggle" data-modal="howtoModal">
                <div class="about-button-text">Close</div>
            </div>    
        </div>
    </div>
</div>