<div class="actionContainer">
    <div class="actionarea">
        <div class="actionmessage"></div>
        <div class="settingsWrapper button-wrapper">
            <div class="settings-button interactable-button actionbtn ui-action" data-action="save" data-modal="profileModal">
                <div class="settings-button-text">Save</div>
            </div>
            <div class="settings-button interactable-button actionbtn ui-action" data-action="toggle" data-modal="profileModal">
                <div class="settings-button-text">Close</div>
            </div>    
        </div>
    </div>
</div>