<div class="actionContainer">
    <div class="actionarea">
        <div class="actionmessage"></div>
        <div class="settingsWrapper button-wrapper">
            <div class="settings-button interactable-button actionbtn" id="settings:about">
                <div class="settings-button-text">About</div>
            </div>
            <div class="settings-button interactable-button actionbtn" id="settings:logout">
                <div class="settings-button-text">Logout</div>
            </div>    
        </div>
    </div>
</div>