<div class="button-wrapper">
    <grid>
        <button class="interactable-button" type="submit" id="userbtn">User List</button>
        <button class="interactable-button" type="submit" id="imagebasebtn">Image Base</button>
    </grid>
</div>