<div class="banner">
    <div class="profile-pic-wrapper">
        <img src="../../assets/icons/loadcached.png" alt="Loading" class="banner-profile-pic profile-pic-image" id="banner-thumb">
    </div>
    <div class="banner-username-wrapper">
        <div class="banner-username" id="banner-username"></div>
    </div>
    <div class="banner-settings-wrapper" id="settingsbtn">
        <img src="../../assets/icons/settings40.png" alt="Settings" class="banner-settings-icon settings-icon-image" id="settings-icon-image">
        <div class="banner-version-text">Ver.  <%= version %></div>
    </div>
</div>

