<div class="banner">
    <div class="profile-pic">
        <img src="../../assets/imgs/people/msscarlet-thumb.png" alt="Miss Scarlet" class="profile-pic-image" id="msscarlet-thumb">
    </div>
    <div class="username"></div>
    <div class="settings-icon">
        <img src="../../assets/icons/settings-icon.png" alt="Settings" class="settings-icon-image" id="settings-icon-image">
    </div>
    <div class="version-text">Ver.  <%= version %></div>
</div>
