<div class="banner">
    <div class="profile-pic-wrapper">
        <img src="../../assets/imgs/people/msscarlet-thumb.png" alt="Miss Scarlet" class="banner-profile-pic profile-pic-image" id="msscarlet-thumb">
    </div>
    <div class="banner-username">Username</div>
    <div class="banner-settings-wrapper">
        <img src="../../assets/icons/settings40.png" alt="Settings" class="banner-settings-icon settings-icon-image" id="settings-icon-image">
        <div class="banner-version-text">Ver.  <%= version %></div>
    </div>
</div>

