    <div class="character-pic-option">
        <img src="../../assets/imgs/people/msscarlet-thumb.png" alt="Miss Scarlet" class="fleximage" id="misscarlet-thumb">
        <div class="characteroption selected">Select</div>
        <svg width="24" height="24" viewBox="0 0 24 24" class="checksvg">
            <path d="M5 13l4 4L19 7" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>        
    </div>
    <div class="character-pic-option">
        <img src="../../assets/imgs/people/mrspeacock-thumb.png" alt="Mrs. Peacock" class="fleximage" id="mrspeacock-thumb">
        <div class="characteroption">Select</div>
        <svg width="24" height="24" viewBox="0 0 24 24" class="checksvg">
            <path d="M5 13l4 4L19 7" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>     
    </div>
    <div class="character-pic-option">
        <img src="../../assets/imgs/people/mrswhite-thumb.png" alt="Mrs. White" class="fleximage" id="mrswhite-thumb">
        <div class="characteroption">Select</div>
        <svg width="24" height="24" viewBox="0 0 24 24" class="checksvg">
            <path d="M5 13l4 4L19 7" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
    <div class="character-pic-option">
        <img src="../../assets/imgs/people/mrgreen-thumb.png" alt="Mr. Green" class="fleximage" id="mrgreen-thumb">
        <div class="characteroption">Select</div>
        <svg width="24" height="24" viewBox="0 0 24 24" class="checksvg">
            <path d="M5 13l4 4L19 7" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
    <div class="character-pic-option">
        <img src="../../assets/imgs/people/profplum-thumb.png" alt="Professor Plum" class="fleximage" id="profplum-thumb">
        <div class="characteroption">Select</div>
        <svg width="24" height="24" viewBox="0 0 24 24" class="checksvg">
            <path d="M5 13l4 4L19 7" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
    <div class="character-pic-option">
        <img src="../../assets/imgs/people/colmustard-thumb.png" alt="Colonel Mustard" class="fleximage" id="colmustard-thumb">
        <div class="characteroption">Select</div>
        <svg width="24" height="24" viewBox="0 0 24 24" class="checksvg">
            <path d="M5 13l4 4L19 7" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>