<div class="chat-modal" id="chatmodal">
    <button class="chat-close" id="closechat">
        <image class="closebuttonicon" src="../../assets/icons/closeicon.png"></image>
    </button>    
    <div class="chattitle">LOBBY CHAT</div>
    <div class="chatfeed" id="chatfeed"></div>
    <div class="sendarea">
        <input type="text" class="chatsendbox" id="chatsendbox" placeholder="Enter a Message...">
        <button class="send-button" type="submit" id="sendbutton"></button>
    </div>
</div>