<div class="chat-modal" id="chatmodal">
    <button class="chat-close" id="closechat">
        <image class="closebuttonicon" src="../../assets/icons/closeicon.png"></image>
    </button>    
    <div class="chattitle">LOBBY CHAT</div>
    <div class="chatfeed">
        <div class="chatmessage">
            <span class="chatusername">CAPSUSERXX (Miss Scarlet):</span> Welcome to my lobby!
        </div>
        <div class="chatmessage">
            <span class="chatusername">You (Mr. Green):</span> Yo!            
        </div>
        <div class="chatmessage">
            <span class="chatusername">CAPSUSERXX (Miss Scarlet):</span> would you like to be Mr. Green?           
        </div>
    </div>
    <div class="sendarea">
        <input type="text" class="chatsendbox" id="chatsendbox" placeholder="Enter a Message...">
        <button class="send-button" type="submit" id="sendbutton"></button>
    </div>
</div>