<div class="modal hidden" id="<%= id %>">
  <div class="modal-header">
    <span class="modal-title"><%= title %></span>
    <img class="modal-close" src="../../assets/icons/closeicon.png" alt="Close">
  </div>
  <div class="modal-content">
    <%- content %>
  </div>
</div>