<div class="screen-text">Username's Lobby<br />Standard (1/6)</div>
<div class="button-wrapper">
    <button class="interactable-button disabled">Ready</button>
    <button class="interactable-button brown disabled">Leave</button>
</div>