<div class="canvaswrapper">
    <canvas id="gameCanvas" class="gamecanvas"></canvas>
</div>
<div id="gamemenu" class="gamemenu">
    <div class="gamemenuitem" id="gamechatbtn">
        <img src="../../assets/icons/chaticon.png" class="gamemenuitemicon">
        <div class="gamemenuitemlabel">Chat</div>
    </div>
    <div class="gamemenuitem" id="gamecardsbtn">
        <img src="../../assets/icons/cardsicon.png" class="gamemenuitemicon">
        <div class="gamemenuitemlabel">Cards</div>
    </div>
    <div class="gamemenuitem" id="gamesheetbtn">
        <img src="../../assets/icons/sheeticon.png" class="gamemenuitemicon">
        <div class="gamemenuitemlabel">Sheet</div>
    </div>
    <div class="gamemenuitem" id="gameguessbtn">
        <img src="../../assets/icons/guessicon.png" class="gamemenuitemicon">
        <div class="gamemenuitemlabel">Guess</div>
    </div>
</div>