<div class="screen-text">Available Games</div>
<div class="matchlist-wrapper">
    <div class="matchlisting">Test Match 1</div>
</div>
<div class="button-wrapper">
    <button class="interactable-button disabled">Play</button>
    <button class="interactable-button disabled">Match History</button>
</div>