<div class="chatbox" id="homemessagebtn">Chat
<div class="chat-notification hidden" id="chatnotification">New</div>    
</div>    
    <%- include("./partials/modals/draggableModal", {
        id: "homemessageModal",
        title: "Messages",
        content: include("./partials/modals/homemessageContent")
    }) %>  
    <%- include("./partials/modals/draggableModal", {
        id: "settingsModal",
        title: "Settings",
        content: include("./partials/modals/settingsContent")
    }) %>          
    <%- include("./partials/modals/draggableModal", {
        id: "aboutModal",
        title: "About",
        content: include("./partials/modals/aboutContent")
    }) %>        
<div class="matchlisthome" id="matchlisthome">
    <div class="screen-text">Available Games</div>  
    <div class="gamesarea-wrapper" id="gamesareawrapper">
        <div class="search-wrapper">
            <input type="search" class="searchbox hide" id="searchbox" maxlength="15"></input>
            <img class="searchicon hide" src="../../assets/icons/search.png" id="searchicon"></img>        
            <button class="interactable-button newgame-button" id="newgamebtn">+</button>
        </div>
        <div class="filtercontrols" id="filtercontrols">
            <div class="filtertext" data-sort="username">
                <span>Username</span>
            </div>
            <div class="filtertext" data-sort="type">
                <span>Type</span>
            </div>
            <div class="filtertext" data-sort="players">
                <span>Plr</span>
            </div>
        </div>
        <div class="nogames hidden" id="nogames">There are no available games. Try making one by pressing the (+) button above.</div>
        <div class="matcheswrapper" id="matcheswrapper"></div>     
        <div class="match-subtext hide" id="matchsubtext">*Standard(S)/Custom(C)</div>          
    </div>

    <div class="button-wrapper">
        <button class="interactable-button disabled" id="joinbtn">Join</button>
        <button class="interactable-button" id="matchhistbtn">Match History</button>
    </div> 
</div>