<div class="button-wrapper">
    <form id="loginForm" class="form">
        <div class="error-message" id="error-username"></div>
        <label for="username">Username/Email:</label>
        <input type="text" id="username" name="username">
        <div class="error-message" id="error-password"></div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <button class="interactable-button" type="submit">Login</button>
    </form>
</div>