<div class="button-wrapper">
    <form id="loginForm" class="form">
        <label for="username">Username/Email:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button class="interactable-button" type="submit" onclick="redirectWithTransition('/home')">Login</button>
    </form>
</div>