<div class="logo-wrapper">
    <img src="/assets/icons/512icon.png" alt="Logo" class="logo-image">
    <div class="version-text">Ver.  <%= version %></div>
    <div class="logo-subtext">-online-</div>
</div>  