<% if (!step || step == 1) { %>
    <div class="button-wrapper">
      <form id="form-step1" class="form">
        <div class="error-message" id="error-email"></div>
        <label>Email:</label>
        <input type="email" id="email" name="email">
        <button class="interactable-button" type="submit" id="step1">Continue</button>
      </form>
    </div>
  <% } else if (step == 2) { %>
    <div class="button-wrapper">
      <form id="form-step2" class="form">
        <div class="error-message" id="error-username"></div>
        <label>Username:</label>
        <input type="text" id="username" name="username">

        <div class="error-message" id="error-password"></div>
        <label>Password:</label>
        <input type="password" id="password" name="password">

        <div class="error-message" id="error-confirm-password"></div>
        <label>Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password">

        <button class="interactable-button" type="submit" id="step2">Continue</button>
      </form>
   </div>
  <% } else if (step == 3) { %>
  <div class="subtext">Choose a profile picture</div>
  <div class="button-wrapper">
    <form id="form-step3" class="form">
      <div class="error-message" id="error-profile-pic-grid"></div>
      <div class="profile-pic-grid" id="profile-pic-grid">
        <div class="profile-pic-option">
          <img src="../../assets/imgs/people/msscarlet-thumb.png" alt="Miss Scarlet" class="profile-pic-image" id="msscarlet-thumb">
        </div>
        <div class="profile-pic-option">
          <img src="../../assets/imgs/people/mrspeacock-thumb.png" alt="Mrs. Peacock" class="profile-pic-image" id="mrspeacock-thumb">
        </div>
        <div class="profile-pic-option">
          <img src="../../assets/imgs/people/mrswhite-thumb.png" alt="Mrs. White" class="profile-pic-image" id="mrswhite-thumb">
        </div>
        <div class="profile-pic-option">
          <img src="../../assets/imgs/people/mrgreen-thumb.png" alt="Mr. Green" class="profile-pic-image" id="mrgreen-thumb">
        </div>
        <div class="profile-pic-option">
          <img src="../../assets/imgs/people/profplum-thumb.png" alt="Professor Plum" class="profile-pic-image" id="profplum-thumb">
        </div>
        <div class="profile-pic-option">
          <img src="../../assets/imgs/people/colmustard-thumb.png" alt="Colonel Mustard" class="profile-pic-image" id="colmustard-thumb">
        </div>
      </div>
      <button class="interactable-button disabled" type="submit" id="step3">Select</button>
    </form>
  </div>
  <% } %>
