<!DOCTYPE html>
<html lang="en">
    <%- include("partials/header", { title: "Home" }) %>
<body>
<div class="container">
  <div class="landscape-warning">
      Sorry Clue Online does not support landscape mode. <br /> Please rotate your device to portrait.
  </div>
  <div class="wrapper home-wrapper">
    <%- include("partials/banner") %>    
    <%- include("partials/homearea") %>
  </div>
      <%- include("partials/footer", { pagename: "home" }) %>
</div>
</body>
</html>
