<!DOCTYPE html>
<html lang="en">
    <%- include("partials/header", { title: "Admin" }) %>
<body>
  <div class="landscape-warning">
      Sorry Clue Online does not support landscape mode. <br /> Please rotate your device to portrait.
  </div>
  <div id="wrapper">
    <%- include("partials/logo") %>        
    <%- include("partials/adminarea") %>
  </div>
  <script src="./js/admin.js"></script>
</body>
</html>
